{%extends 'students/base.html.jinja'%}
{% block title %}
Requests
{% endblock title %}

{% block content %}
<section class="">
    <div class="search-header bg-light py-4">
        <div class="container text-white-50">
            <h3 class="text-warning">Book Requests</h3>
            <p class="my-1">
                <small>
                    No. of requests <span class="text-warning mx-1">{{total_requests}}</span>
                </small>
            </p>
            <p class="my-1">
                <small>
                    You currently have <span class="text-warning mx-1">{{unreturned}}</span> unreturned books.
                </small>
            </p>
        </div>
    </div>
    <div class="container">
        {% for message in get_flashed_messages(category_filter=["message"]) %}
        <div class="text-start flash alert alert-success mt-2 mb-3"><i class="bx bxs-check-circle me-1"></i> {{ message
            }}
        </div>
        {% endfor %}
        <ul class=" mt-3 pt-4 nav-c-tabs mb-2" data-active="{{tab}}">
            <li class="nav-item">

                <a href="{{url_for('students.requests')}}?tab=Pending" data-key="pending"
                    class="nav-link position-relative">
                   {% if pending > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                        {{pending}}
                        <span class="visually-hidden">Approved requests</span>
                    </span>
                   {% else %}
                   {% endif %}
                    Pending Requests
                </a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('students.requests')}}?tab=Approved" data-key="approved"
                    class="nav-link position-relative">
                   {% if approved > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{approved}}
                        <span class="visually-hidden">Approved requests</span>
                    </span>
                   {% else %}
                   {% endif %}
                    Approved Requests
                </a>
            </li>

            <li class="nav-item">
                <a href="{{url_for('students.requests')}}?tab=Completed" data-key="completed" class="nav-link position-relative">
                    {% if completed > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{completed}}
                        <span class="visually-hidden">Approved requests</span>
                    </span>
                    {% else %}
                    {% endif %}
                    Completed Requests</a>
            </li>
        </ul>
        {% if requests|length > 0 %}
        <div class="alert alert-info py-2">
            <small>
                <i class="me-1 bx bx-info-circle"></i> Showing <span class=" text-capitalize">{{tab}} Requests</span>
            </small>
        </div>
        {% else %}
        <p class="mt-4 text-center text-secondary">Nothing to display.</p>
        {% endif %}
        <div class="mt-3">
            {% for request in requests %}
            <div class="card mb-3">
                <div class="card-body p-4">
                    <h6 class="fw-bold">{{request.rental_no}}</h6>
                    <p class="text-black-50">
                        <small>{{request.date}}</small>
                    </p>
                    <div class="text-secondary">
                        {% if request.rental_details|length == 1 %}
                        <ul class="nav-c-list single">
                            {% for details in request.rental_details %}
                            <li>
                                <p class="my-1 fw-bold">{{details.title}}</p>
                                <p class="my-1">
                                    <small>Category: {{details.category_name}}</small>
                                </p>

                            </li>
                            {% endfor %}
                        </ul>
                        {% elif request.rental_details|length > 1 %}
                        <ul class="nav-c-list">
                            {% for details in request.rental_details %}
                            <li>
                                <p class="my-1 fw-bold">{{details.title}}</p>
                                <p class="my-1">
                                    <small>Category: {{details.category_name}}</small>
                                </p>

                            </li>
                            {% endfor %}
                        </ul>
                        {%else%}
                        <p class="text-center text-secondary">Nothing to display.</p>
                        {% endif %}

                        {# buttons #}

                        <div class="mt-5 ">
                            {% if request.status == 0 %}
                            <button data-id="{{request.rental_id}}" type="button"
                                class="btn btn-sm btn-c-light-secondary pending-btn px-lg-3 rounded-pill">
                                <small>
                                    <i class="bx bx-hourglass"></i> Pending Request
                                </small>
                            </button>
                            {% elif request.status == 1 %}
                            <button data-id="{{request.rental_id}}" type="button"
                                class="btn btn-sm btn-c-light-primary approved-btn px-lg-3 rounded-pill">
                                <small>
                                    <i class="bx bx-check"></i> Approved
                                </small>
                            </button>
                            {% elif request.status == 2 %}
                            <button data-id="{{request.rental_id}}" type="button"
                                class="btn btn-sm btn-c-light-dark unreturned-btn px-lg-3 rounded-pill">
                                <small>
                                    <i class="bx bx-minus"></i> Not Yet Returned
                                </small>
                            </button>
                            {% elif request.status == 3 %}
                            <button data-id="{{request.rental_id}}" type="button"
                                class="btn btn-sm btn-c-light-success completed-btn px-lg-3 rounded-pill">
                                <small>
                                    <i class="bx bx-check"></i> Completed
                                </small>
                            </button>
                            {%else%}
                            <button data-id="{{request.rental_id}}" type="button"
                                class="btn btn-sm btn-c-light-danger declined-btn px-lg-3 rounded-pill">
                                <small>
                                    <i class='bx bx-x-circle'></i> Declined
                                </small>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include "students/components/request-modals.html.jinja" %}
{% endblock content %}


{% block scripts %}

<script>
    const showModal = (requestId, status) => {
        const months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
        $.ajax({
            url: "{{url_for('students.get_request')}}",
            method: "POST",
            data: { id: requestId },
            dataType: "json",
            success: function (res) {
                console.log('res: ', res)
                let date = new Date(res.date)
                $("#status").html(status)
                $("#request_id").html(res.rental_no)
                $("#no_of_books").html(res.details.length)
                $("#date_requested").html(`${months[date.getMonth()]}. ${date.getDate() < 10 ? '0' + date.getDate() : date.getDate()}, ${date.getFullYear()}`)

                $("#content").removeClass("d-none")
                $("#info-placeholders").addClass("d-none")
                $("#info-id").val(res.id)

                //set action button to display
                $(".action-btn").addClass("d-none")
                if (status.toLowerCase() === "pending") {
                    $("#cancel").removeClass("d-none")
                }
                else if (status.toLowerCase() === "completed") {
                    $("#remove").removeClass("d-none")
                }

            },
            error: function (err) {
                console.log('err: ', err)
            }
        })

        $("#info-modal").modal('show')
    }

    $(".pending-btn").on("click", function (e) {
        let id = $(this).data('id')
        showModal(id, "Pending")
    })
    $(".declined-btn").on("click", function (e) {
        let id = $(this).data('id')
        showModal(id, "Declined")
    })

    $(".action-btn").on("click", function (e) {
        e.preventDefault()
        let id = $("#info-id").val()
        window.location.href = "{{url_for('students.delete_request')}}?id=" + id
    })

</script>

{% endblock scripts %}