<!-- add modal -->
<div class="modal fade modal-lg" id="info-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0 ">
                <h6 class="modal-title fw-bold">Request Information</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="content">

                    <p class="text-dark fw-bold text-capitalize">
                        Request ID:
                        <span class=" ms-2" id="request_id">Status</span>
                    </p>
                    <p class="text-dark fw-bold text-capitalize">
                        Student:
                        <span class=" ms-2" id="student">Status</span>
                    </p>
                    <p class="text-dark fw-bold text-capitalize">
                        Year level:
                        <span class=" ms-2" id="year_level">Status</span>
                    </p>
                    <p class="text-dark fw-bold text-capitalize">
                        Date requested:
                        <span class=" ms-2" id="date_requested">Status</span>
                    </p>
                    <p class="text-dark fw-bold text-">
                        No of books:
                        <span class=" ms-2" id="no_of_books">Status</span>
                    </p>

                    <div class="card mt-3">
                        <div class="card-body">
                            <p>Books:</p>
                            <ul class="nav-c-list" id="info-list">

                            </ul>
                        </div>
                    </div>
                </div>

                <div id="info-placeholders">
                    <h4 class="modal-title fw-bold placeholder-glow mb-3">
                        <span class="placeholder placeholder-lg col-10"></span>
                    </h4>
                    <div class="mt-1">
                        <p class="text-secondary placeholder-glow mb-3">
                            <span class="placeholder col-4"></span>
                        </p>
                        <p class="text-secondary placeholder-glow mb-3">
                            <span class="placeholder col-4"></span>
                        </p>
                        <p class="text-secondary placeholder-glow mb-3">
                            <span class="placeholder col-4"></span>
                        </p>
                        <p class="text-secondary placeholder-glow mb-3">
                            <span class="placeholder col-4"></span>
                        </p>
                        <div class="mt-2">
                            <p class="text-secondary placeholder-glow">
                                <span class="placeholder col-2"></span>
                            </p>
                            <p class="text-secondary placeholder-glow">
                                <span class="placeholder col-8"></span>
                                <span class="placeholder col-9"></span>
                                <span class="placeholder col-7"></span>
                                <span class="placeholder col-8"></span>
                                <span class="placeholder col-9"></span>
                                <span class="placeholder col-9"></span>
                            </p>
                        </div>

                        <div class="mt-5">
                            <p class="placeholder-glow">
                                <span class="placeholder me-2 placeholder-lg col-2"></span>
                                <span class="placeholder placeholder-lg col-2"></span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>