{%extends 'admin/base.html.jinja'%}

{%block title%} Categories {%endblock%}

{%block content%}
<div class="container">
    <h3>Categories</h3>
    <hr>
    <div class="">
       {% for message in get_flashed_messages(category_filter=["message"]) %}
        <div class="text-start flash alert alert-success mb-3"><i class="bx bxs-check-circle me-1"></i> {{ message }}
        </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="text-start py-2 flash alert alert-danger mb-3"><i class="bx bx-info-circle me-1"></i> {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="text-end mb-3">
        <button class="btn btn-sm btn-c-primary" type="button" data-bs-toggle="modal" data-bs-target="#add-modal">
            Add New
        </button>
    </div>
    <div class="table-responsive-sm">
        <table class="table align-middle" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(0,len)%}
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{categories[i].name}}</td>
                    <td>
                        <button class="btn btn-c-success me-lg-1 pt-2 fs-6 edit-student rounded-1" data-bs-target="#edit-modal"
                            data-bs-toggle="modal" data-id="{{categories[i].id}}">
                            <i class="bx bx-edit"></i>
                        </button>
                        <button class="btn btn-c-danger pt-2 fs-6 delete rounded-1" data-id="{{categories[i].id}}">
                            <i class="bx bx-trash"></i>
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%include 'admin/components/categories-modal.html.jinja'%}
{%endblock%}

{%block scripts%}
<script>

    $(function () {
        $("#table").dataTable()
    })



    $("#edit-modal").on('show.bs.modal', function (e) {
        let id = $(e.relatedTarget).data('id')

        $.ajax({
            url: "{{url_for('admin.get_category')}}",
            method: "post",
            data: { id },
            dataType: 'json',
            success: function (res) {
                console.log('res: ', res)

                $("#edit-name-box").val(res.name)
                $('#id-box').val(res.id)

            },
            error: function (err) {
                console.log('error: ', err)
            }
        })
    })

    $(".delete").on('click', function (e) {
        const id = $(this).data('id')
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
               window.location.href = `{{url_for('admin.delete_category')}}?id=${id}`
            }
        })
    })
</script>
{%endblock%}