$blue:#0B177F;
$yellow:#F9CA01;
$green: #36B37E;
$red:#DE350B;
$black:#200;
$custom-color-map:(
    'primary':$blue,
    'warning':$yellow,
    'success':$green,
    'danger':$red,
    'dark':$black,
    'secondary':rgba($black,0.2)
)